In [ ]:
# Basic EDA Tools
import numpy as np
import pandas as pd

**3 excel files to be created with titles `Emp1`, `Emp2`, `Emp3`**

In [ ]:
file_1 = pd.DataFrame(columns=["id","name","designation","age","salary","address"])
file_2 = pd.DataFrame(columns=["id","name","designation","age","salary","address"])
file_3 = pd.DataFrame(columns=["id","name","designation","age","salary","address"])

In [ ]:
# Data for file_1
id = [1,2,3,4,5,6,7,8,9,10]
name = ["Imran","Manish","Krishna","Abhishek","Swapnil","Vikash","Sania","Shivali","Rohit","Fatima"]
designation = ["ML Expert","Python Developer","Surgeon","Engineer","Data Analyst","Teacher","HR Head","Manager","Marketing Head","Professor"]
age = [25,23,24,26,'',24,28,20,25,24]
salary = [1000000, 120000, 34000, 223445, 98743, 938403,93329, '', 390844, 394094]
address = ["Noida","Himachal","Bihar","UP","UP","Rajasthan","Batala","Jalandhar","Mumbai","Noida"]

In [ ]:
file_1.id=id
file_1.name=name
file_1.designation=designation
file_1.age=age
file_1.salary=salary
file_1.address=address

In [ ]:
# Data for file_2
id = [11,12,13,14,15,16,17,18,19,20]
name = ["Aadil","Bharti","Chandan","Diwakar","Ekta","Farheen","Gagan","Harsh","Jasvir","Kunal"]
designation = ["Accountant","Administrator","Plumber","Chef","","Architecture","Operations","Supply Chain","Software Engineer","Robotics"]
age = list(np.random.randint(20,40,10))
salary = list(np.random.randint(100000,500000,10))
address = ["Gurgaon","Laxmi Nagar","Vasundhra","Ghaziabad","Mayur-Vihar","Sarojini Nagar","Kaushambi","Anand Vihar","Preet Vihar","Karkarduma"]

In [ ]:
file_2.id=id
file_2.name=name
file_2.designation=designation
file_2.age=age
file_2.salary=salary
file_2.address=address

In [ ]:
# Data for file_3
id = [21,22,23,24,25,26,27,28,29,30]
name = ["Abhilash","Bobby","Chaman","Diwakar","Gurkanwal","Hamina","Kamal","Manas","Prateek","Sandy"]
designation = ["Electrician","DG Operator","DJ","Musician","Dancer","Singer","Custom Officer","Actor","Writer","Loader"]
age = list(np.random.randint(20,35,10))
salary = list(np.random.randint(100000,200000,10))
address = ["Jalandhar","Phagwara","","Nawashahar","Ludhiana","Hoshiarpur","Amritsar","Chandigarh","Ropar","Karnal"]

In [ ]:
file_3.id=id
file_3.name=name
file_3.designation=designation
file_3.age=age
file_3.salary=salary
file_3.address=address

**Saving the data into 3 different excel files**

In [ ]:
file_1.to_excel("Dataset/Emp1.xls", index=False)
file_2.to_excel("Dataset/Emp2.xls", index=False)
file_3.to_excel("Dataset/Emp3.xls", index=False)

**Loading the data from the excel files just created**

In [ ]:
f1= pd.read_excel("Dataset/Emp1.xls")
f2= pd.read_excel("Dataset/Emp2.xls")
f3= pd.read_excel("Dataset/Emp3.xls")

In [ ]:
f1.head(2)

In [ ]:
f2.head(2)

In [ ]:
f3.head(2)

**Now the 3 different excel files have been created. Now, getting all the data in a single file and saving it to a csv format**

In [ ]:
file = pd.concat([f1,f2,f3], ignore_index=True)
file[0:30:10]

In [ ]:
file.to_csv("Dataset/Employee.csv", index=False)

**Loading the csv file just created**

In [ ]:
csv_file = pd.read_csv("Dataset/Employee.csv")

In [ ]:
csv_file

In [ ]:
csv_file.info()

In [ ]:
csv_file.isna().sum()

**Till now we have created 3 different excel files and filled values in it. Now doing the same by creating 1 excel file having 3 different sheets**

In [ ]:
df_1 = pd.DataFrame({
    'id':[1,2,3,4,5,6,7,8,9,10],
    'name':["Imran","Manish","Krishna","Abhishek","Swapnil","Vikash","Sania","Shivali","Rohit","Fatima"],
    'designation':["ML Expert","Python Developer","Surgeon","Engineer","Data Analyst","Teacher","HR Head","Manager","Marketing Head","Professor"],
    'age':[25,23,24,26,'',24,28,20,25,24],
    'salary':[1000000, 120000, 34000, 223445, 98743, 938403,93329, '', 390844, 394094],
    'address':["Noida","Himachal","Bihar","UP","UP","Rajasthan","Batala","Jalandhar","Mumbai","Noida"]
})

df_2 = pd.DataFrame({
    'id':[11,12,13,14,15,16,17,18,19,20],
    'name':["Aadil","Bharti","Chandan","Diwakar","Ekta","Farheen","Gagan","Harsh","Jasvir","Kunal"],
    'designation':["Accountant","Administrator","Plumber","Chef","","Architecture","Operations","Supply Chain","Software Engineer","Robotics"],
    'age':list(np.random.randint(20,40,10)),
    'salary':list(np.random.randint(100000,500000,10)),
    'address':["Gurgaon","Laxmi Nagar","Vasundhra","Ghaziabad","Mayur-Vihar","Sarojini Nagar","Kaushambi","Anand Vihar","Preet Vihar","Karkarduma"]
})

df_3 = pd.DataFrame({
    'id':[21,22,23,24,25,26,27,28,29,30],
    'name':["Abhilash","Bobby","Chaman","Diwakar","Gurkanwal","Hamina","Kamal","Manas","Prateek","Sandy"],
    'designation':["Electrician","DG Operator","DJ","Musician","Dancer","Singer","Custom Officer","Actor","Writer","Loader"],
    'age':list(np.random.randint(20,35,10)),
    'salary':list(np.random.randint(100000,200000,10)),
    'address':["Jalandhar","Phagwara","","Nawashahar","Ludhiana","Hoshiarpur","Amritsar","Chandigarh","Ropar","Karnal"]
})

dfs = {'Emp1':df_1, 'Emp2':df_2, 'Emp3':df_3}

In [ ]:
writer = pd.ExcelWriter("Dataset/Emp4.xlsx",engine="xlsxwriter")

for keys in dfs.keys():
    dfs[keys].to_excel(writer, sheet_name=keys, index=False)

writer.save()

**A single excel file with 3 different sheets have been created. Now, import all the data from 3 sheets and convert it into a single csv file**

**First way:** Getting the data of 3 sheets in 3 different files

In [ ]:
s1 = pd.read_excel("Dataset/Emp4.xlsx",sheet_name=0)
s2 = pd.read_excel("Dataset/Emp4.xlsx",sheet_name=1)
s3 = pd.read_excel("Dataset/Emp4.xlsx",sheet_name=2)

In [ ]:
s1.head(2)

In [ ]:
s2.head(2)

In [ ]:
s3.head(2)

In [ ]:
files = pd.concat([s1,s2,s3], ignore_index=True)
files[0:30:10]

In [ ]:
files.to_csv("Dataset/Employees.csv", index=False)

In [ ]:
csv_files = pd.read_csv("Dataset/Employees.csv")

In [ ]:
csv_files

In [ ]:
csv_files.info()

In [ ]:
csv_files.isna().sum()

**Second way:** Getting the data of 3 sheets in a single file

In [ ]:
s4 = pd.read_excel("Dataset/Emp4.xlsx",sheet_name=[0,1,2])

In [ ]:
df = pd.concat((s4[keys] for keys in s4.keys()),ignore_index=True)
df[0:30:10]

In [ ]:
df.to_csv("Dataset/Employees-comb.csv",index=False)

In [ ]:
csv_ec = pd.read_csv("Dataset/Employees-comb.csv")

In [ ]:
csv_ec

In [ ]:
csv_ec.info()

In [ ]:
csv_ec.isna().sum()