# Pandas

In [ ]:
import pandas as pd

In [ ]:
#2 main datatypes
series=pd.Series(["BMW","Toyota","Honda"])

In [ ]:
series #series=1-dimensional

In [ ]:
colours=pd.Series(["Red","Blue","White"])
colours

In [ ]:
# Dataframe = 2-Dimenisional
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

In [ ]:
# Import Data
car_sales = pd.read_csv("car-sales.csv")
car_sales

In [ ]:
# Exporting a data frame, index is False bcoz index will appear as one separate col
car_sales.to_csv("exported-car-sales.csv",index=False)

In [ ]:
export_car_sales = pd.read_csv("exported-car-sales.csv")
export_car_sales

## Describe data

In [ ]:
car_sales.dtypes

In [ ]:
car_sales.columns #returns col names

In [ ]:
# assigning value of col_names to a variable
car_columns = car_sales.columns
car_columns

In [ ]:
car_sales.index #returns range of index

In [ ]:
car_sales.describe() #describe works only for numeric columns

In [ ]:
car_sales.info() #returns info

In [ ]:
car_sales.values

In [ ]:
car_sales.mean() #returns mean of numeric values

In [ ]:
car_prices = pd.Series([3000,1500,111250])
car_prices.mean()

In [ ]:
car_sales.sum() #adds all values together

In [ ]:
car_sales["Doors"].sum() #returns sum of Doors of all cars

In [ ]:
len(car_sales) #returns total no. of cars

## Viewing and Selecting data

In [ ]:
car_sales.head() #returns top 5 rows

In [ ]:
car_sales.tail() #returns bottom 5 rows

In [ ]:
car_sales.head(7) #returns specified no. of rows from top

In [ ]:
# .loc & .iloc
# creating a series with index values
animals=pd.Series(["cat","dog","bird","panda","snake"],index=[0,3,9,8,3])

In [ ]:
animals # .iloc refers to position and .loc refers to index

In [ ]:
animals.loc[3] #returns all value at index 3

In [ ]:
animals.iloc[3] #returns value as per the original index 3

In [ ]:
animals.loc[9]

In [ ]:
car_sales

In [ ]:
car_sales.loc[3] #returns value at index 3 col wise

In [ ]:
car_sales.iloc[3] #loc refers to index returns same as no different index is given

In [ ]:
animals

In [ ]:
animals.iloc[:3] #returns as per original index value from 0,1,2

In [ ]:
# animals.loc[:3] # shows errors

In [ ]:
car_sales

In [ ]:
car_sales.loc[:3] #returns as per index given value from 0,1,2,3

In [ ]:
car_sales.iloc[:3] #iloc refers to position & returns value as per original index 0,1,2 excluding 3

In [ ]:
car_sales["Make"] #returns specific col result

In [ ]:
car_sales["Colour"]

In [ ]:
car_sales.Make #'.' can access only those cols without any space

In [ ]:
car_sales[car_sales["Make"]=="Toyota"] #based on given cond returns only Toyota Make cars

In [ ]:
car_sales[car_sales["Odometer (KM)"] > 100000 ] #returns all cars having satisfied cond.

In [ ]:
car_sales

In [ ]:
pd.crosstab(car_sales["Make"],car_sales["Doors"]) #comparing 2 cols Make and Doors and gives count

In [ ]:
#Groupby: returns mean of numeric cols
car_sales.groupby(["Make"]).mean()

## Plotting

In [ ]:
car_sales["Odometer (KM)"].plot() # plotting

In [ ]:
## %matplotlib inline
## import matplotlib.pyplot as plt

In [ ]:
car_sales["Odometer (KM)"].hist() #plotting histogram

In [ ]:
car_sales

In [ ]:
## Since Price is an object data-type it cant be plotted so converting it into int.
car_sales["Price"]=car_sales["Price"].replace('[\$\,\.]','',regex=True).astype(int)
car_sales["Price"]

In [ ]:
car_sales["Price"]=car_sales["Price"]/100
car_sales["Price"]

In [ ]:
car_sales["Price"].plot()

## Manipulating Data

In [ ]:
car_sales

In [ ]:
car_sales["Make"].str.lower() #returns all lowercase make

In [ ]:
car_sales_missing=pd.read_csv("car-sales-missing-data.csv")

In [ ]:
car_sales_missing

In [ ]:
#replace missing values by fillna and filling mean value of present values
car_sales_missing["Odometer"]=car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean())

In [ ]:
car_sales_missing

In [ ]:
#instead of assigning in the same variable use inplace=True method
#car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(),inplace=True)

In [ ]:
car_sales_missing.dropna(inplace=True) # drops all cols having empty values
car_sales_missing

In [ ]:
car_sales #converted car-sales dataframe

In [ ]:
#column from series
seats_column= pd.Series([5,5,5,5,5]) # only 5 values are given

#New Column calles seats
car_sales["Seats"]=seats_column # to fit in all 10 cols should be there

In [ ]:
car_sales # Seats having only 5 values and rest NaN (empty)

In [ ]:
car_sales["Seats"].fillna(5,inplace=True) #replacing all NaN values with 5 in seats col
car_sales

In [ ]:
#creating column from Python list
fuel_economy= [7.5,9.2,5.0,9.6,8.7,4.7,7.6,8.7,3.0,4.5]
car_sales["Fuel per 100KM"]=fuel_economy
car_sales

In [ ]:
car_sales.dtypes

In [ ]:
# creating total fuel used col
car_sales["Total Fuel Used(L)"]= car_sales["Odometer (KM)"]/100 * car_sales["Fuel per 100KM"]
car_sales

In [ ]:
#create a column from single value fills 4 in all rows
car_sales["Number of Wheels"]=4
car_sales

In [ ]:
car_sales["Passed Road Safety"]= True
car_sales

In [ ]:
car_sales.dtypes

In [ ]:
car_sales

In [ ]:
## droppina a column, axis=1 means col-wise, inplace for permanent change
car_sales.drop("Number of Wheels",axis=1,inplace=True)
car_sales

In [ ]:
#shuffling of index for irregular indexes
car_sales_shuffled=car_sales.sample(frac=1) #100%
car_sales_shuffled

In [ ]:
#resetting index as per original ones by dropping index values only index changes
car_sales_shuffled.reset_index(drop=True,inplace=True)
car_sales_shuffled

In [ ]:
car_sales

In [ ]:
#converting km into miles using apply() or map()
car_sales["Odometer (Miles)"]=car_sales["Odometer (KM)"].apply(lambda x:x/1.6)
car_sales

In [ ]:
#converting km into miles using apply()
car_sales["Odometer (Mile)"]=car_sales["Odometer (KM)"].map(lambda x:x/1.6)
car_sales

In [ ]:
#dropping Km column
car_sales.drop(["Odometer (KM)","Odometer (Mile)"],axis=1,inplace=True)
car_sales

In [ ]:
car_sales.rename(columns={"Price":"Price in ($)"},inplace=True)
car_sales