In [ ]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password = '')
cursor = conn.cursor()
cursor.execute("CREATE DATABASE DEMO")
print("Demo Database Created")

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password = '', db='demo')
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE CUSTOMERS
(CID INT AUTO_INCREMENT PRIMARY KEY,
 CUSTOMER_NAME TEXT NOT NULL,
 CUSTOMER_ADDRESS CHAR(50))""")
print("Customers Table created")

In [ ]:
cursor.execute("""
CREATE TABLE ORDERS
(PID INT(11) NOT NULL,
 P_NAME VARCHAR(20) NOT NULL,
 QTY INT(11) NOT NULL,
 PRICE FLOAt NOT NULL,
 CID INT(11) )""")
print("Orders Table created")

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password = '', db='demo')
cursor = conn.cursor()

cursor.execute("INSERT INTO CUSTOMERS VALUES (1, 'Amit', 'Noida')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (2, 'Deepak', 'Delhi')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (3, 'Pankaj', 'Gurgaon')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (4, 'Raj', 'Noida')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (5, 'Aman', 'Alwar')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (6, 'Saroj', 'Delhi')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (7, 'Riya', 'Faridabad')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (8, 'Saloni', 'Gurgaon')")
cursor.execute("INSERT INTO CUSTOMERS VALUES (9, 'Divya', 'Noida')")

conn.commit()
print("Customer Records Inserted")

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password = '', db='demo')
cursor = conn.cursor()

cursor.execute("INSERT INTO ORDERS VALUES (111, 'Monitor', 20, 5600, 1)")
cursor.execute("INSERT INTO ORDERS VALUES (222, 'Speaker', 100, 520, 3)")
cursor.execute("INSERT INTO ORDERS VALUES (333, 'Keyboard', 50, 450, 1)")

conn.commit()
print("Orders Records Inserted")

**How to read-write data from Mysql Database in Pandas**

In [ ]:
import pandas as pd
import sqlalchemy

In [ ]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost/demo')

Format of connection string is:
mysql+pymysql://username:password@host:port/database_name

Format of connection string for other databases:
https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

**Read entire table in a dataframe using read_sql_table**

In [ ]:
df = pd.read_sql_table("customers", con=engine)
df

**Read only selected columns**

In [ ]:
df = pd.read_sql_table('orders',engine,columns=["P_NAME","QTY","PRICE"])
df

**Join two tables and read them in a dataframe using read_sql_query**

In [ ]:
df = pd.read_sql_query("SELECT CID,CUSTOMER_NAME FROM CUSTOMERS", con=engine)
df

In [ ]:
query = '''
SELECT c.CUSTOMER_NAME, c.CUSTOMER_ADDRESS, o.P_NAME, o.QTY, o.PRICE
FROM CUSTOMERS c INNER JOIN ORDERS o
ON c.CID = o.CID
'''
df = pd.read_sql_query(query, engine)
df

**read_sql is a wrapper around read_sql_query and read_sql_table**

In [ ]:
query = '''
SELECT c.CUSTOMER_NAME, c.CUSTOMER_ADDRESS, o.P_NAME, o.QTY, o.PRICE
FROM CUSTOMERS c INNER JOIN ORDERS o
ON c.CID = o.CID
'''

df = pd.read_sql(query, engine)
df

**Write to mysql database using to_sql**

In [ ]:
df = pd.read_csv('customers.csv')
df

In [ ]:
df.rename(columns={"CNAME":"CUSTOMER_NAME","CUSTOMER ADDRESS":"CUSTOMER_ADDRESS"}, inplace=True)
df

In [ ]:
df.to_sql(name="customers",
          con=engine,
          if_exists="append",
          index=False)

**to_sql has different parameters such as chunksize which allows to write data in chunks. This is useful when size of dataframe is huge**

<h2 align="center">Sales Data</h2>

In [ ]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password = '')
cursor = conn.cursor()
cursor.execute("CREATE DATABASE SALES")
print("Sales Database Created")

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password='', db='sales')
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE PRODUCT
(PRODUCTID INTEGER NOT NULL PRIMARY KEY,
 CODE VARCHAR(5),
 NAME VARCHAR(100),
 UNITPRICE NUMERIC(6,2) NOT NULL)""")
print("Product Table Created")

In [ ]:
cursor.execute("""
CREATE TABLE CUSTOMERID
(CUSTOMERID INTEGER NOT NULL PRIMARY KEY,
 DRV_LIC_NO INTEGER NOT NULL,
 CONSTRAINT UNI_LIC_NO UNIQUE(DRV_LIC_NO))""")
print("CustomerID Table Created")

In [ ]:
cursor.execute("""
CREATE TABLE CUSTOMER
(CUSTOMERID INTEGER NOT NULL PRIMARY KEY,
 NAME VARCHAR(255) NOT NULL)""")
print("Customer Table Created")

In [ ]:
cursor.execute("""
CREATE TABLE ORDER_DATA
(ORDERID INTEGER NOT NULL PRIMARY KEY,
 ORDERDATE VARCHAR(12),
 CUSTOMERID INTEGER,
 AMOUNT NUMERIC(6,2) NOT NULL,
 CONSTRAINT CUSTID FOREIGN KEY(CUSTOMERID) REFERENCES CUSTOMER(CUSTOMERID))""")
print("Order_Data Table Created")

In [ ]:
cursor.execute("""
CREATE TABLE LINEITEM
(ORDERLINE INTEGER NOT NULL PRIMARY KEY,
 ORDERID INTEGER NOT NULL,
 PRODUCTID INTEGER NOT NULL,
 QUANTITY NUMERIC(4) NOT NULL,
 CONSTRAINT PRODID FOREIGN KEY(PRODUCTID) REFERENCES PRODUCT(PRODUCTID),
 CONSTRAINT ORDID FOREIGN KEY(ORDERID) REFERENCES ORDER_DATA(ORDERID))""")
print("Table LineItem Created")

In [ ]:
cursor.execute("""
CREATE TABLE CONTACT
(CONTACTID VARCHAR(30) NOT NULL PRIMARY KEY,
 CUSTOMERID INTEGER NOT NULL,
 ADDRESS VARCHAR(150),
 CITY VARCHAR(50),
 PHONE VARCHAR(20),
 CONSTRAINT CONTACT_CUSTID FOREIGN KEY(CUSTOMERID) REFERENCES CUSTOMER(CUSTOMERID))""")
print("Contact Table Created")

In [ ]:
cursor.execute("INSERT INTO PRODUCT VALUES(10,'AB123','Leather Sofa',1000)")
cursor.execute("INSERT INTO PRODUCT VALUES(20,'AB456','Baby Chair',200.25)")
cursor.execute("INSERT INTO PRODUCT VALUES(30,'AB789','Sport Shoes',250.60)")
cursor.execute("INSERT INTO PRODUCT VALUES(40,'PQ123','Sony Digital Camera',399)")
cursor.execute("INSERT INTO PRODUCT VALUES(50,'PQ456','Hitachi HandyCam',1050)")
cursor.execute("INSERT INTO PRODUCT VALUES(60,'PQ789','GM Saturn',2250.99)")
conn.commit()
print("Product Records Inserted")

In [ ]:
cursor.execute("INSERT INTO CUSTOMERID VALUES(101,10101010)")
cursor.execute("INSERT INTO CUSTOMERID VALUES(102,20202020)")
conn.commit()
print("CustomerId Records Inserted")

In [ ]:
cursor.execute("INSERT INTO CUSTOMER VALUES(101,'RICKY')")
cursor.execute("INSERT INTO CUSTOMER VALUES(102,'JOHN')")
cursor.execute("INSERT INTO CUSTOMER VALUES(103,'TONY')")
cursor.execute("INSERT INTO CUSTOMER VALUES(104,'Bob')")
cursor.execute("INSERT INTO CUSTOMER VALUES(105,'Willium')")
cursor.execute("INSERT INTO CUSTOMER VALUES(106,'Mihir')")
cursor.execute("INSERT INTO CUSTOMER VALUES(107,'Kevin')")
cursor.execute("INSERT INTO CUSTOMER VALUES(108,'Sam')")
conn.commit()
print("Customer Records Inserted")

In [ ]:
cursor.execute("INSERT INTO ORDER_DATA VALUES(51,'2/3/2005',101,3250.25)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(52,'3/4/2005',101,2751.2)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(53,'4/5/2005',101,2250.99)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(54,'3/3/2005',101,2499)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(55,'4/4/2005',102,2952.05)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(56,'5/5/2005',102,2851.74)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(57,'3/4/2005',103,5848)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(58,'4/5/2005',103,1853.75)")
cursor.execute("INSERT INTO ORDER_DATA VALUES(59,'5/6/2005',103,6198.99)")
conn.commit()
print("Order_Data Records Inserted")

In [ ]:
cursor.execute("INSERT INTO LINEITEM VALUES(1,51,10,2)")
cursor.execute("INSERT INTO LINEITEM VALUES(2,51,20,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(3,51,50,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(4,52,30,2)")
cursor.execute("INSERT INTO LINEITEM VALUES(5,52,40,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(6,52,20,4)")
cursor.execute("INSERT INTO LINEITEM VALUES(7,52,50,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(8,53,60,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(9,54,40,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(10,54,50,2)")
cursor.execute("INSERT INTO LINEITEM VALUES(11,55,20,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(12,55,30,3)")
cursor.execute("INSERT INTO LINEITEM VALUES(13,55,10,2)")
cursor.execute("INSERT INTO LINEITEM VALUES(14,55,50,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(15,56,60,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(16,56,20,3)")
cursor.execute("INSERT INTO LINEITEM VALUES(17,57,10,4)")
cursor.execute("INSERT INTO LINEITEM VALUES(18,57,40,2)")
cursor.execute("INSERT INTO LINEITEM VALUES(19,57,50,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(20,58,30,5)")
cursor.execute("INSERT INTO LINEITEM VALUES(21,58,20,3)")
cursor.execute("INSERT INTO LINEITEM VALUES(22,59,60,1)")
cursor.execute("INSERT INTO LINEITEM VALUES(23,59,40,2)")
cursor.execute("INSERT INTO LINEITEM VALUES(24,59,50,3)")
conn.commit()
print("LineItem Records Inserted")

In [ ]:
cursor.execute("INSERT INTO CONTACT VALUES('homeAddress',101,'ABC Street','Edison','416-392-2932')")
cursor.execute("INSERT INTO CONTACT VALUES('officeAddress',101,'XYZ Street','New Jersey','416-221-1922')")
conn.commit()
print("Contact Records Inserted")

In [ ]:
import pandas as pd
import sqlalchemy

engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost/sales')

In [ ]:
df = pd.read_sql_table("lineitem", con = engine)
df.head()

In [ ]:
df = pd.read_sql_table("customer", con = engine)
df.head()

In [ ]:
df = pd.read_sql_table("customerid", con = engine)
df.head()

In [ ]:
df = pd.read_sql_table("order_data", con = engine)
df.head()

In [ ]:
df = pd.read_sql_table("contact", con = engine)
df.head()

In [ ]:
df = pd.read_sql_table("product", con = engine)
df.head()

In [ ]:
query = '''
SELECT P.NAME, P.UNITPRICE, L.QUANTITY, L.ORDERLINE
FROM PRODUCT P INNER JOIN LINEITEM L
ON P.PRODUCTID = L.PRODUCTID
'''
df = pd.read_sql_query(query, con=engine)
df

In [ ]:
query = '''
SELECT C.NAME, O.ORDERID, O.ORDERDATE, O.AMOUNT
FROM CUSTOMER C INNER JOIN ORDER_DATA O
ON C.CUSTOMERID = O.CUSTOMERID
'''
df = pd.read_sql(query, con = engine)
df