In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("./India_Population.csv")
data.head()

   Year    Population
0  1950  37,63,25,200
1  1951  38,23,76,948
2  1952  38,87,99,073
3  1953  39,55,44,369
4  1954  40,25,78,596

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        72 non-null     int64
 1   Population  72 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

Since the data contains the Population as Object dtype, converting it to integer format.

In [4]:
data.Population = data.Population.str.replace(',','').astype(int)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        72 non-null     int64
 1   Population  72 non-null     int32
dtypes: int32(1), int64(1)
memory usage: 992.0 bytes

In [6]:
data.describe()

             Year    Population
count    72.00000  7.200000e+01
mean   1985.50000  8.289174e+08
std      20.92845  3.243571e+08
min    1950.00000  3.763252e+08
25%    1967.75000  5.287355e+08
50%    1985.50000  7.931676e+08
75%    2003.25000  1.116048e+09
max    2021.00000  1.393409e+09

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [8]:
X = data.drop("Population",axis=1)
y = data.Population

In [9]:
X

    Year
0   1950
1   1951
2   1952
3   1953
4   1954
..   ...
67  2017
68  2018
69  2019
70  2020
71  2021

[72 rows x 1 columns]

In [10]:
y

0      376325200
1      382376948
2      388799073
3      395544369
4      402578596
         ...
67    1338676785
68    1352642280
69    1366417754
70    1380004385
71    1393409038
Name: Population, Length: 72, dtype: int32

In [11]:
X.shape,y.shape

((72, 1), (72,))

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

In [13]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((57, 1), (15, 1), (57,), (15,))

In [14]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [15]:
model.score(X_test,y_test)

0.9879887071550852

In [16]:
y_preds = model.predict(X_test)

In [17]:
r2_score(y_test,y_preds)

0.9879887071550852

In [18]:
list(y_preds[:5])

[1037730965.7929382,
 929306608.8934402,
 1022241771.9501534,
 340717242.8675957,
 309738855.1820259]

In [19]:
y_test[:5]

49    1038058156
42     909307016
48    1019483581
4      402578596
2      388799073
Name: Population, dtype: int32

In [20]:
X_test.head()

    Year
49  1999
42  1992
48  1998
4   1954
2   1952

In [21]:
list(model.predict([[2021]]))

[1378493230.334217]